/*
 * main.css
 */

/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* box sizing */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* base */
html, body {
  color: #333;
  font-family: "Raleway", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
  background: #f2f2f2;
}

a {
  color: #333;
  text-decoration: none;

  -webkit-transition: color 0.2s;
     -moz-transition: color 0.2s;
       -o-transition: color 0.2s;
          transition: color 0.2s;
}

a:hover {
  color: #ff6666;
}

.main {
  background-image: url("../img/day-one.png");
  background-size: cover;
  background-position: 0px 0px;
}

/* header */
.main header {
  padding: 40px 4%;
}

.main header img {
  display: block;
  float: left;
  height: 100px;
  width: 100px;
  vertical-align: middle;
 }

.main header nav {
  float: right;
}

.main header nav ul li {
  display: inline-block;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 100px;
  margin-left: 10px;
}

/* book */
.main .book {
  padding: 40px 4%;
}

.main .book > div {
  float: left;
  width: 32%;
  margin-right: 2%;
}

.main .book > div:nth-of-type(1):before {
  content: "";
  display: block;
  height: 10px;
  width: 100px;
  background: #ff6666;
}

.main .book > div:nth-of-type(1) h2 {
  font-size: 3em;
  font-weight: 900;
  text-transform: uppercase;
  margin-top: 10px;
}

.main .book > div:nth-of-type(1) .subtitle {
  color: #666;
  font-size: 2em;
}

.main .book > div:nth-of-type(1) p {
  font-weight: 300;
  line-height: 1.5;
  margin-top: 10px;
}

.main .book > div:nth-of-type(1) p strong {
  font-weight: 900;
}

.main .book > div:nth-of-type(2) img {
  display: block;
  width: 300px;
  margin: 0 auto;
  box-shadow: 0 0 20px #ccc;
}

.main .book > div:nth-of-type(3) {
  margin-right: 0;
}

.main .book > div:nth-of-type(3) .buy-button {
  display: inline-block;
  color: #fcfcfc;
  font-weight: 900;
  text-transform: uppercase;
  background: #ff6666;
  border: 1px solid #e55c5c;
  border-radius: 4px;
  padding: 20px;

  -webkit-transition: background 0.2s;
     -moz-transition: background 0.2s;
       -o-transition: background 0.2s;
          transition: background 0.2s;
}

.main .book > div:nth-of-type(3) .buy-button:hover {
  background: #f26161;
  cursor: pointer;
}

.main .book > div:nth-of-type(3) ul li {
  margin-top: 10px;
}

/* feature quote */
.feature-quote {
  background: #333;
  padding: 40px 0;
}

.feature-quote > div {
  position: relative;
  min-height: 100px;
  width: 50%;
  padding-left: 120px;
  margin: 0 auto;
}

.feature-quote > div img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  float: left;
  border-radius: 50%;
  vertical-align: middle;
}

.feature-quote > div .quote {
  color: #fcfcfc;
  font-size: 1.5em;
}

.feature-quote > div .by {
  float: right;
  color: #999;
  margin-top: 10px;
}

/* count */
.featured-day {
  padding: 40px 4%;
}

.featured-day .count {
  position: relative;
  height: 200px;
  width: 200px;
  background: #e5e5e5;
  border-radius: 50%;
  margin: 0 auto;
}

.featured-day .count .day-number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center
}

.featured-day .count .day-number > div:first-of-type {
  position: absolute;
  width: 100%;
  top: 40px;
  font-size: 1.5em;
  text-transform: uppercase;
}

.featured-day .count .day-number .number {
  font-family: "Helvetic Neue", Helvetica, sans-serif;
  font-size: 5em;
  font-weight: 900;
  line-height: 200px;
}

.featured-day .first {
  padding: 40px 0;
}

.featured-day .first > div {
  float: left;
  width: 49%;
}

.featured-day .first .post {
  position: relative;
  line-height: 1.5;
  margin-right: 2%;

  -webkit-transform: translateX(0);
     -moz-transform: translateX(0);
      -ms-transform: translateX(0);
       -o-transform: translateX(0);
          transform: translateX(0);

  -webkit-transition: opacity, -webkit-transform, 1s;
     -moz-transition: opacity, -moz-transform, 1s;
       -o-transition: opacity, -o-transform, 1s;
          transition: opacity, transform, 1s;
}

.featured-day .first .post.fade {
  opacity: 0;

  -webkit-transform: translateX(-40px);
     -moz-transform: translateX(-40px);
       -o-transform: translateX(-40px);
          transform: translateX(-40px);
}

.featured-day .first .video {
  position: relative;
  background: #333;
  overflow: hidden;

  -webkit-transform: translateX(0);
     -moz-transform: translateX(0);
      -ms-transform: translateX(0);
       -o-transform: translateX(0);
          transform: translateX(0);

  -webkit-transition: opacity, -webkit-transform, 1s;
     -moz-transition: opacity, -moz-transform, 1s;
       -o-transition: opacity, -o-transform, 1s;
          transition: opacity, transform, 1s;
}

.featured-day .first .video.fade {
  opacity: 0;

  -webkit-transform: translateX(40px);
     -moz-transform: translateX(40px);
       -o-transform: translateX(40px);
          transform: translateX(40px);
}

.featured-day .first .video iframe,
.featured-day .first .video object,
.featured-day .first .video embed {
  width: 100%;
}

/* clearfix */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}
